<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://197.3.0.225:20443/cocheck20/ios/TalanCoCheck20.ipa</string>
		<key>displayImageURL</key>
		<string>https://197.3.0.225:20443/cocheck20/ios/logo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://197.3.0.225:20443/cocheck20/ios/logo_big.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>tn.talan.talantracker</key>
		<string>CoCheck20Please</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>M5Y393N3V5</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
